*{
    font-family:"Courier New", Courier, monospace; /* Courier New used as main but if browser doesnt support it falls back to the next one */
}
div{ /* applies to all div unless overrided with a class*/
    color: white;
    background-color: black
}
p{ /* applies to all p unless overrided with a class*/
    background-color:grey
}
.apple{ /* class="apple" */
    color:red;
}
#melon{ /* id="melon */
    color:green;
}
.apple#sneakers{ /* class="apple" id="sneakers" */
    color:blue;
}
.apple.scooter{ /* class="apple scooter" */
    color:darkmagenta;
}

.ancestor .child{ /* anything inside both ancestor AND child gets this quality but any direct application of another class overrides it */
    color:orange;
}
.test{ /* overrides nested when used directly */
    color:black;
}
.textTest{
    font-size:22px;
    font-weight: bold;
    /* or font-weight: 700 (1-1000)*/
    text-align: center;
}
img{
    height: auto; /* autoadjusts */
    width: 400px;
    /* if an image’s original size was 500px height and 1000px width, using the above CSS would result in a height of 250px. */
}
