.apple{ /* class="apple" */
    color:red;
}
#melon{ /* id="melon */
    color:green;
}
.apple#sneakers{ /* combining class selectors = targets elements with both apple and sneakers */
    color:blue;
}
.apple.scooter{ /* combining class selectors = targets elements with both apple and scooter */
    color:darkmagenta;
}

.ancestor .child{ /* anything inside both ancestor AND child gets this quality but any direct application of another class overrides it */
    color:orange;
}
.child{
    background-color:black;
    color:yellow;
}
.ancestor .fighter{ /* equal specificity, cascade */
    color:aqua;
}

.test{ /* cascade  makes it so it doesnt have to fight with ancestor */
    color:white;
}
.textTest{
    font-size:22px;
    font-weight: bold;
    /* or font-weight: 700 (1-1000)*/
    text-align: center;
}
img{
    height: auto; /* autoadjusts */
    width: 400px;
    /* if an image’s original size was 500px height and 1000px width, using the above CSS would result in a height of 250px. */
}
.a, /* group selector syntax = style both class a and b separately */
.b {
    color:red;
}
.c {
    color:yellow;
}
.override {
    color:blue;
}
div.c {
    color:orange;
}
div.override{
    background-color:grey;
}
