body {
    font: 1.2em / 1.5 sans-serif;
}
.apple{ /* class="apple" */
    color:red;
}
#melon{ /* id="melon */
    color:green;
}
.apple#sneakers{ /* combining class selectors = targets elements with both apple and sneakers */
    color:blue;
}
.apple.scooter{ /* combining class selectors = targets elements with both apple and scooter */
    color:darkmagenta;
}

.ancestor .child{ /* anything inside both ancestor AND child gets this quality but any direct application of another class overrides it */
    color:orange;
}
.child{
    background-color:black;
    color:yellow;
}
.ancestor .fighter{ /* equal specificity, cascade */
    color:aqua;
}

.test{ /* cascade  makes it so it doesnt have to fight with ancestor */
    color:white;
}
.textTest{
    font-size:22px;
    font-weight: bold;
    /* or font-weight: 700 (1-1000)*/
    text-align: center;
}
img{
    height: auto; /* autoadjusts */
    width: 400px;
    /* if an image’s original size was 500px height and 1000px width, using the above CSS would result in a height of 250px. */
}
.a, /* group selector syntax = style both class a and b separately */
.b {
    color:red;
}
.c {
    color:yellow;
}
.override {
    color:blue;
}
div.c {
    color:orange;
}
div.override{
    background-color:grey;
}
body {
    font: 1.2em / 1.5 sans-serif;
}
.box {
    display: block;
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
}

.alternate {
    box-sizing: border-box;
    width: 200;
}
  
.box-container {
    border: 5px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}

.box-container span {
    display: inline-block;
    background-color: pink;
    border: 5px solid black;
    padding: 1em;
}

.container {
    display: flex;
    flex-direction: column;
}
.container div {
    background-color: lightblue;
    border: 1px solid black;
    height: 80px;
    flex: 1 1 auto; /* using auto for flex-basis means it will be at least 200px */
    /*padding: 10px;
    margin: 5px;*/
}